{% extends 'base.html' %}

{% block menu %}
    <div class="hero-white">
        {% include 'includes/inc_main_manu.html' %}
    </div>
{% endblock menu %}

{% block content %}
    <div class="details">
        {% include 'includes/inc_categories_menu.html' %}

        <div class="tab-content">
            <div class="block">
                <h1>Куртки</h1>
                <a href="{{ url_for('jacket') }}"><img src="{{ url_for('static', filename='css/img/product_kurt.jpg') }}" alt="">
                    <div class="text">
                        <img src="{{ url_for('static', filename='css/img/icon-hover.png') }}" alt="img">
                        <h4>Vidda Pro Wool Padded Jacket M</h4>
                        <p>прочная, теплая мужская куртка надежной конструкции</p>
                    </div>
                </a>
            </div>

            <div class="block">
                <h1>Рубашки</h1>
                <a href="#"><img src="{{ url_for('static', filename='css/img/product_rub.jpg') }}" alt="">
                    <div class="text">
                        <img src="{{ url_for('static', filename='css/img/icon-hover.png') }}" alt="img">
                        <h4>Granit Shirt M</h4>
                        <p>теплая мужская рубашка лесоруба</p>
                    </div>
                </a>
            </div>

            <div class="block">
                <h1>Парки</h1>
                <a href="#"><img src="{{ url_for('static', filename='css/img/product_par.jpg') }}" alt="">
                    <div class="text">
                        <img src="{{ url_for('static', filename='css/img/icon-hover.png') }}" alt="img">
                        <h4>Парка Expedition Long Down Parka W</h4>
                        <p>то удлиненная женская версия классической куртки</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="clr"></div>
{% endblock content %}